* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 144px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

img {
    height: 200px;
    width: 800px;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 16px 72px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 72px 144px;
    justify-content: center;
}

.hero-content {
    justify-content: space-between;
    align-items: flex-start;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 12px;
}

.sign-up-button {
    padding: 8px 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
}

.card-gallery {
    text-align: center;
    margin-bottom: 72px;
}

.card-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 24px 0;
}

.cards {
    display: flex;
    gap: 48px;
    padding: 0 72px 48px 72px;
    justify-content: center;
}

.card {
    width: 200px;
    height: 200px;
}

.card img{
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 72px 212px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-attribution {
    text-align: right;
    font-weight: bold;
    margin-top: 24px;
}

.call-to-action {
    display: flex;
    justify-content: center;
}

.call-to-action-content {
    display: flex;
    margin: 72px 144px;
    background-color: #3882F6;
    padding: 24px 72px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.call-to-action-text, .call-to-action-title {
    color: #F9FAF8;
}

.call-to-action-title {
    font-size: 16px;
}

.call-to-action-text {
    font-size: 12px;
    color: #E5E7EB;
}

.call-to-action .sign-up-button {
    border: 2px solid #F9FAF8;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.copyright {
    color: #F9FAF8;
    font-size: 12px;
    padding: 8px;
}